      <% if current_user.has_linkedin? %>
      <button class="bg-gray-500 text-white font-bold py-2 px-4 rounded" disabled>Linkedin</button>
      <% else %>
      <a href="/users/auth/linkedin">
        <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Linkedin</button>
      </a>
      <% end %>
