	<div style="width:200px;float:left;margin-right:30px">
	<a class="btn btn-block btn-social btn-google <%= "disabled" if current_user.has_google? %>" href="/users/auth/google_oauth2"><span class="fa fa-google-plus"></span>Google+</a>
	</div>
