	<div style="width:200px;float:left;margin-right:30px">
	<a class="btn btn-block btn-social btn-linkedin <%= "disabled" if current_user.has_linkedin? %>" href="/users/auth/linkedin"><span class="fa fa-linkedin"></span>Linkedin</a>
	</div>
