  <div style="width:150px;float:left">
    <% if current_user.has_linkedin? %>
    <button type="button" class="btn btn-sm btn-social" style="color:white;background:#007BB6" disabled><i class="fa fa-linkedin"></i>Linkedin</button>
    <% else %>
    <a href="/users/auth/linkedin">
      <button type="button" class="btn btn-sm btn-social" style="color:white;background:#007BB6"><i class="fa fa-linkedin"></i>Linkedin</button>
    </a>
    <% end %>
  </div>
