	<div style="width:200px;float:left;margin-right:30px">
	<a class="btn btn-block btn-social btn-twitter <%= "disabled" if current_user.has_twitter? %>" href="/users/auth/twitter"><span class="fa fa-twitter"></span>Twitter</a>
	</div>
