  <div style="width:200px;float:left;margin-right:30px">
  <a class="btn btn-block btn-social btn-microsoft <%= "disabled" if current_user.has_office365? %>" href="/users/auth/microsoft_office365"><span class="fa fa-windows"></span>Office 365</a>
  </div>
