  <div class="card w-full py-8">
    <h3 class="font-semibold text-md text-indigo-500">Social accounts</h3>

    <p class="py-2">Click on the services below to associate them with your account. This will allow you to use them to log onto the system. If you do not do this a new account may be created for you if you log on with another service.</p>
  
    <div class="flex-row">
      <!--SOCIAL-->
    </div>
  </div>
