  <div style="width:150px;float:left">
    <% if current_user.has_twitter? %>
    <button type="button" class="btn btn-sm btn-social" style="color:white;background:#55ACEE" disabled><i class="fa fa-twitter"></i>Twitter</button>
    <% else %>
    <a href="/users/auth/twitter">
      <button type="button" class="btn btn-sm btn-social" style="color:white;background:#55ACEE"><i class="fa fa-twitter"></i>Twitter</button>
    </a>
    <% end %>
  </div>
