	<div style="width:200px;float:left;margin-right:30px">
    <a class="btn btn-block btn-social btn-facebook <%= "disabled" if current_user.has_facebook? %>" href="/users/auth/facebook"><span class="fa fa-facebook"></span> Facebook</a>
	</div>
