  <div style="width:150px;float:left">
    <% if current_user.has_facebook? %>
    <button type="button" class="btn btn-sm btn-social" style="color:white;background:#3B5998" disabled><i class="fa fa-facebook"></i>Facebook</button>
    <% else %>
    <a href="/users/auth/facebook">
      <button type="button" class="btn btn-sm btn-social" style="color:white;background:#3B5998"><i class="fa fa-facebook"></i>Facebook</button>
    </a>
    <% end %>
  </div>
