<div class="row">
	<div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4 col-lg-4 offset-lg-4">
    <div class="d-grid gap-2">
      <a class="btn-lg btn-block btn-social btn-microsoft" style="text-align:center; text-decoration:none" href="/users/auth/microsoft_office365">
        <span class="fa fa-windows"></span> Join with Microsoft
      </a>
    </div>
  </div>
</div>
