<div class="row">
	<div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4 col-lg-4 offset-lg-4">
	<a class="btn btn-lg btn-block btn-social btn-linkedin" href="/users/auth/linkedin"><span class="fa fa-linkedin"></span>Join with Linkedin</a>
  </div>
</div>
