<div class="row">
	<div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4 col-lg-4 offset-lg-4">
    <a class="btn btn-lg btn-block btn-social btn-facebook" href="/users/auth/facebook"><span class="fa fa-facebook"></span> Join with Facebook</a>
  </div>
</div>
