
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

body { 
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
header {
  margin-bottom: 20px;
}
a.btn-social {
  margin-top: 5px;
}
a.btn-social i {
  padding-top: 8px;
}

label.checkbox input[type="checkbox"] {
  margin-left: 0px;
}

div.form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

div.alert {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 8px 8px 8px 4px;
  font-size: 0.9em;
}
.fade.in {
  opacity: 1;
}

a.btn:hover {
    color: #eeeeee;
}

body.background {
  background-image:image-url("banner-flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center !important;
}
.jumbotron {
  background-image:image-url("banner-flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center !important;
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: 40px;
  height: 400px;
}
.jumbotron h2,
.jumbotron p {
  color: white;
  font-size: 200% !important;
  font-weight: bold;
}

footer.dark {
  color: white;
}

