<div class="row">
	<div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4 col-lg-4 offset-lg-4">
	<a class="btn btn-lg btn-block btn-social btn-microsoft" href="/users/auth/office365"><span class="fa fa-windows"></span>Log in with Office 365</a>
  </div>
</div>
